
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->

<body class="home page page-id-39 page-template-default et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_cover_background et_pb_gutter windows et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar unknown">
	<div id="page-container">

	
		<header id="main-header" data-height-onload="66">
			<div class="container clearfix et_menu_container">
							<div class="logo_container">
					<span class="logo_helper"></span>
					<a href="u0opt3-b.html">
						<%= image_tag 'ev2ffeqv.png', :alt => 'Berkeley Live Glass', :id => 'logo', :data => {:height_percentage => '54'} %>
						
					</a>
				</div>
				<div id="et-top-navigation" data-height="66" data-fixed-height="40">
					<nav id="top-menu-nav">
					<ul id="top-menu" class="nav"><li id="menu-item-202" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-202"><a href="#home">Home</a></li>
<li id="menu-item-57" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-57"><a href="#about">About Us</a></li>
<li id="menu-item-58" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-58"><a href="#product">Our Product</a></li>
<li id="menu-item-59" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-59"><a href="#order">Order</a></li>
<li id="menu-item-60" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-60"><a href="#team">The Team</a></li>
</ul>					</nav>

					
					
					<div id="et_mobile_nav_menu">
			<div class="mobile_nav closed">
				<span class="select_page">Select Page</span>
				<span class="mobile_menu_bar"></span>
			</div>
		</div>				</div> <!-- #et-top-navigation -->
			</div> <!-- .container -->
			<div class="et_search_outer">
				<div class="container et_search_form_container">
					<form role="search" method="get" class="et-search-form" action="http://berkeleyliveglass.me/">
					<input type="search" class="et-search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:" />					</form>
					<span class="et_close_search_field"></span>
				</div>
			</div>
		</header> <!-- #main-header -->

		<div id="et-main-area">
<div id="main-content">


			
				<article id="post-39" class="post-39 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div id="home" class="et_pb_section  et_pb_section_0 et_section_regular">
				
				
					
					<div class=" et_pb_row et_pb_row_0">
				
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0">
				<div class="et_pb_module et-waypoint et_pb_image et_pb_animation_top et_pb_image_0 et_always_center_on_mobile">
				<%= image_tag 'gprdf625.png' %>
			</div>
			</div> <!-- .et_pb_column -->
					
			</div> <!-- .et_pb_row -->
				
			</div> <!-- .et_pb_section --><div id="about" class="et_pb_section et_pb_section_parallax  et_pb_section_1 et_pb_with_background et_section_regular">
				<div class="et_parallax_bg et_pb_parallax_css" style="background-image: url(<%= image_path '-ldfa-yd.png' %>);"></div>
				
					
					<div class=" et_pb_row et_pb_row_1">
				
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_1">
				<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_0">
				
<p>LiveGlass is your Lucky Charm!</p>

			</div> <!-- .et_pb_text --><div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_1">
				
<p>Here at liveglass, we&#8217;re determined to provide a great product, at an equally great price. As current college students, we found it hard to find decorative items that were affordable, aesthetically pleasing, and environmentally friendly. We&#8217;re here to change that.</p>

			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
					
			</div> <!-- .et_pb_row -->
				
			</div> <!-- .et_pb_section --><div id="product" class="et_pb_section  et_pb_section_2 et_pb_with_background et_section_regular">
				
				
					
					<div class=" et_pb_row et_pb_row_2">
				
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_2">
				<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_2">
				
<p>The LiveGlass Formula</p>

			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
					
			</div> <!-- .et_pb_row --><div class=" et_pb_row et_pb_row_3">
				
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_3">
				<div class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_blurb_0 et_pb_blurb_position_top">
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><%= image_tag 'nncawdeb', :class =>'et-waypoint et_pb_animation_left' %></div>
					<div class="et_pb_blurb_container">
						<h4>Lucky Bamboo</h4>
						
<p>Our liveglass team LOVES lucky bamboo. A popular decorative plant, lucky bamboo is traditionally believed to bring about happiness and prosperity. We love it for its distinct look and resilience! Lucky bamboo is extremely easy to care for: water it once a week and spend the rest of your time basking in the good vibes.</p>

					</div>
				</div> <!-- .et_pb_blurb_content -->
			</div> <!-- .et_pb_blurb -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_4">
				<div class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_blurb_1 et_pb_blurb_position_top">
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><%= image_tag 'lgjqz0ab', :class =>'et-waypoint et_pb_animation_top' %></div>
					<div class="et_pb_blurb_container">
						<h4>Better than Soil</h4>
						
<p>Instead of boring, traditional soil, we grow our bamboo in translucent crystal soil. These polymer beads are reusable, odorless, non-toxic, and biodegradable. It&#8217;s a great way to nourish and support the plant while creating a unique aesthetic!</p>

					</div>
				</div> <!-- .et_pb_blurb_content -->
			</div> <!-- .et_pb_blurb -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_5">
				<div class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_blurb_2 et_pb_blurb_position_top">
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><%= image_tag 'nhbqz3xs', :class =>'et-waypoint et_pb_animation_right' %></div>
					<div class="et_pb_blurb_container">
						<h4>And a Jar!</h4>
						
<p>We&#8217;re not about one-use items here at liveglass. Our glass mason jars definitely add that <em>#hipandrelatable</em> and <em>#artsy </em>factor to our product, but they&#8217;re also reusable! We give you the jar&#8217;s cap, so that when you&#8217;re done with your plant, you can use it to tote around your morning chai latte.</p>

					</div>
				</div> <!-- .et_pb_blurb_content -->
			</div> <!-- .et_pb_blurb -->
			</div> <!-- .et_pb_column -->
					
			</div> <!-- .et_pb_row -->
				
			</div> <!-- .et_pb_section --><div id="order" class="et_pb_section  et_pb_section_3 et_section_regular">
				
				
					
					<div class=" et_pb_row et_pb_row_4">
				
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_6">
				<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_3">
				
<p>Ordering</p>

			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
					
			</div> <!-- .et_pb_row --><div class=" et_pb_row et_pb_row_5">
				
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_7">
				<div class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_blurb_3 et_pb_blurb_position_top">
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><%= image_tag 'r-yhg6i5.png', :class =>'et-waypoint et_pb_animation_top' %></div>
					<div class="et_pb_blurb_container">
						<h4>Pay</h4>
						
<p>Simply put your card info below and we'll charge you for each LiveGlass you buy, including delivery fees if applicable. We handle transactions using a secure third-party vendor called Stripe to handle transactions so you don't have to worry about security.</p>

					</div>
				</div> <!-- .et_pb_blurb_content -->
			</div> <!-- .et_pb_blurb -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_8">
				<div class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_blurb_4 et_pb_blurb_position_top">
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><%= image_tag 'house.png', :class =>'et-waypoint et_pb_animation_top' %></div>
					<div class="et_pb_blurb_container">
						<h4>Pick it up</h4>
						
<p>We&#8217;ll have daily pick up times at Sproul. Details will be included in the confirmation email! You can also opt for delivery for $1. Put in your address and we&#8217;ll schedule a time to drop it off!</p>

					</div>
				</div> <!-- .et_pb_blurb_content -->
			</div> <!-- .et_pb_blurb -->
			</div> <!-- .et_pb_column -->
					
			</div> <!-- .et_pb_row -->
				
			</div> <!-- .et_pb_section --><div class="et_pb_section  et_pb_section_4 et_pb_with_background et_section_regular">
				
				
					
					<div class=" et_pb_row et_pb_row_6">
				
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_9">
				<div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_text_4" id = "payment_section">
				
<h1 style="font-size: 50px;">Ready to Order?</h1>
<h3></h3>

			</div> <!-- .et_pb_text --><div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_text_5">
				
<p>Put in your info below, making sure to select your payment method, and then click submit! We&#8217;ll get back to you with a confirmation and a date. It&#8217;s as easy as that.</p>

			</div> <!-- .et_pb_text --><div class="et_pb_code et_pb_module  et_pb_code_0">
					<p style = 'color:#e7f62c'><%= flash[:notice] %></p>
					<p style = 'color:#e7f62c'><%= flash[:error] %></p>
					<form id ="payment" class="payment-form" action="payment" method="post"> <input type="hidden" name="form_title" value="Live Glass Orders"> 
						<span class="payment-errors"></span>
						<div class="form_inline">
							<input type="text" id="order_name" name="name" size="40" placeholder="Name" required> 
							<input type="email"  size="40" id="order_email" name="email" placeholder="Email"   required> 
							<input type="tel" size="40" id="order_tel" name="telephone" placeholder="Phone Number"   required> 
							<select name="delivery" class = "shorter" required>
								<option value="" disabled selected>Delivery</option> 
								<option value = "True">Yes</option> 
								<option value = "False">No</option>
							</select> 
							<input type="number" value="" min="1" max="200" class = "shorter" placeholder="Quantity" name="quantity" id = "order_quantity" required> 
						</div>
						<div class = "form_inline" id = "credit_info">
							<input type="number" size = "40" id = "card_number" placeholder="Card Number" data-stripe="number" required>
							<input type="number" placeholder= "CVC" id = "cvc" data-stripe="cvc"required>
							<input type="number" placeholder= 'Exp. Month'  id = 'exp_month' data-stripe="exp-month" required>
							<input type="number" placeholder = 'Exp. Year'  id = 'exp_year' data-stripe="exp-year" required>
						</div>
						<p id="form_extra"><span><textarea cols="40" rows="10" id="order_instructions" placeholder="Extra Instructions" name="instructions"></textarea></span></p>
						<p id="form_submit"><input id="submit_button" type="submit" value="Reserve"></p>
					</form>
					
			</div> <!-- .et_pb_code --><div class="et_pb_code et_pb_module  et_pb_code_1">
				
			</div> <!-- .et_pb_code -->
			</div> <!-- .et_pb_column -->
					
			</div> <!-- .et_pb_row -->
				
			</div> <!-- .et_pb_section --><div id="team" class="et_pb_section  et_pb_section_5 et_section_regular">
				
				
					
					<div class=" et_pb_row et_pb_row_7">
				
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_10">
				<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_6">
				
<p>The Dream Team</p>

			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
					
			</div> <!-- .et_pb_row --><div class=" et_pb_row et_pb_row_8">
				
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_11">
				<hr class="et_pb_module et_pb_space et_pb_divider_0 et-hide-mobile" />
			</div> <!-- .et_pb_column -->
					
			</div> <!-- .et_pb_row --><div class=" et_pb_row et_pb_row_9">
				
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_12">
				<div class="et_pb_module et_pb_team_member  et_pb_team_member_0 et_pb_bg_layout_light clearfix">
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_fade_in">
					<%= image_tag '20ylnqce' %>
				</div>
				<div class="et_pb_team_member_description">
					
					
					 
					
				</div> <!-- .et_pb_team_member_description -->
			</div> <!-- .et_pb_team_member --><div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_7">
				
<p>Adam Pramono</p>

			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4 et_pb_column_13">
				<div class="et_pb_module et_pb_team_member  et_pb_team_member_1 et_pb_bg_layout_light clearfix">
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_fade_in">
					
					<%= image_tag 'dwm1gq7z' %>
				</div>
				<div class="et_pb_team_member_description">
					
					
					 
					
				</div> <!-- .et_pb_team_member_description -->
			</div> <!-- .et_pb_team_member --><div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_8">
				
<p>Yizhen Zhang</p>

			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4 et_pb_column_14">
				<div class="et_pb_module et_pb_team_member  et_pb_team_member_2 et_pb_bg_layout_light clearfix">
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_fade_in">
					
					<%= image_tag '2cs-fv68' %>
				</div>
				<div class="et_pb_team_member_description">
					
					
					 
					
				</div> <!-- .et_pb_team_member_description -->
			</div> <!-- .et_pb_team_member --><div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_9">
				
<p>Matthew Hilado</p>

			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4 et_pb_column_15">
				<div class="et_pb_module et_pb_team_member  et_pb_team_member_3 et_pb_bg_layout_light clearfix">
				<div class="et_pb_team_member_image et-waypoint et_pb_animation_fade_in">
					
					<%= image_tag 's537f7e-' %>
				</div>
				<div class="et_pb_team_member_description">
					
					
					 
					
				</div> <!-- .et_pb_team_member_description -->
			</div> <!-- .et_pb_team_member --><div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_10">
				
<p>Gary Chen</p>

			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
					
			</div> <!-- .et_pb_row -->
				
			</div> <!-- .et_pb_section -->
					</div> <!-- .entry-content -->

				
				</article> <!-- .et_pb_post -->

			

</div> <!-- #main-content -->


			<footer id="main-footer">
				

		
				<div id="footer-bottom">
					<div class="container clearfix">
				
						<p id="footer-info">Created by Berkeley Live Glass</p>
					</div>	<!-- .container -->
				</div>
			</footer> <!-- #main-footer -->
		</div> <!-- #et-main-area -->


	</div> <!-- #page-container -->

	<style type="text/css" id="et-builder-advanced-style">
				
.et_pb_text_6 { font-size: 45px; color: #1abc9c !important; line-height: 1.8em; }
.et_pb_text_6 p { line-height: 1.8em; }
.et_pb_team_member_0.et_pb_team_member h4 { font-size: 25px; color: #1abc9c !important; line-height: 1.4em; }
.et_pb_team_member_0.et_pb_team_member p { line-height: 1.8em; }
.et_pb_team_member_0.et_pb_team_member { line-height: 1.8em; }
.et_pb_text_5 { font-size: 25px; line-height: 1.9em; }
.et_pb_text_5 p { line-height: 1.9em; }
.et_pb_row_5 { max-width:73% !important; }
.et_pb_blurb_4.et_pb_blurb { font-size: 20px; line-height: 1.9em; }
.et_pb_section_4 { background-color:#1abc9c; }
.et_pb_text_4 p { line-height: 1.9em; }
.et_pb_text_4 { color: #ffffff !important; line-height: 1.9em; }
.et_pb_text_7 { font-size: 24px; }
.et_pb_team_member_1.et_pb_team_member h4 { font-size: 25px; color: #1abc9c !important; line-height: 1.4em; }
.et_pb_team_member_3.et_pb_team_member p { line-height: 1.8em; }
.et_pb_team_member_3.et_pb_team_member h4 { font-size: 25px; color: #1abc9c !important; line-height: 1.4em; }
.et_pb_team_member_3.et_pb_team_member { line-height: 1.8em; }
.et_pb_text_10 { font-size: 24px; }
.et_pb_row_9 { max-width:80% !important; }
.et_pb_text_9 { font-size: 24px; }
.et_pb_team_member_2.et_pb_team_member { line-height: 1.8em; }
.et_pb_team_member_1.et_pb_team_member { line-height: 1.8em; }
.et_pb_team_member_1.et_pb_team_member p { line-height: 1.8em; }
.et_pb_text_8 { font-size: 24px; }
.et_pb_team_member_2.et_pb_team_member h4 { font-size: 25px; color: #1abc9c !important; line-height: 1.4em; }
.et_pb_team_member_2.et_pb_team_member p { line-height: 1.8em; }
.et_pb_blurb_4.et_pb_blurb p { line-height: 1.9em; }
.et_pb_blurb_4.et_pb_blurb h4, .et_pb_blurb_4.et_pb_blurb h4 a { font-weight: bold;font-size: 36px; line-height: 1.3em; }
.et_pb_text_2 p { line-height: 1.8em; }
.et_pb_section_2 { background-color:#f7f7f7; }
.et_pb_text_2 { font-size: 50px; line-height: 1.8em; }
.et_pb_blurb_0.et_pb_blurb h4, .et_pb_blurb_0.et_pb_blurb h4 a { font-size: 24px; color: #1abc9c !important; }
.et_pb_blurb_0.et_pb_blurb p { line-height: 1.9em; }
.et_pb_section_1 { min-height:400px; }
.et_pb_row_1 { max-width:60% !important; float:left; }
.et_pb_text_0 { max-width: 600px; font-weight: bold;font-size: 50px; color: #1abc9c !important; letter-spacing: 3px; line-height: 1.2em; }
.et_pb_column_1 { padding-left:20%; }
.et_pb_text_0 p { line-height: 1.2em; }
.et_pb_text_1 p { line-height: 2em; }
.et_pb_text_1 { font-size: 24px; color: #755d6b !important; line-height: 2em; margin-right: 100px !important; }
.et_pb_blurb_0.et_pb_blurb { font-size: 19px; line-height: 1.9em; }
.et_pb_blurb_1.et_pb_blurb h4, .et_pb_blurb_1.et_pb_blurb h4 a { font-size: 24px; color: #1abc9c !important; }
.et_pb_text_3 { font-size: 50px; line-height: 1.9em; }
.et_pb_text_3 p { line-height: 1.9em; }
.et_pb_blurb_3.et_pb_blurb h4, .et_pb_blurb_3.et_pb_blurb h4 a { font-weight: bold;font-size: 36px; line-height: 1.3em; }
.et_pb_blurb_3.et_pb_blurb p { line-height: 1.9em; }
.et_pb_blurb_3.et_pb_blurb { font-size: 20px; line-height: 1.9em; }
.et_pb_row_3 { max-width:85% !important; }
.et_pb_blurb_2.et_pb_blurb { font-size: 20px; line-height: 1.9em; }
.et_pb_blurb_1.et_pb_blurb p { line-height: 1.9em; }
.et_pb_blurb_1.et_pb_blurb { font-size: 20px; line-height: 1.9em; }
.et_pb_blurb_2.et_pb_blurb h4, .et_pb_blurb_2.et_pb_blurb h4 a { font-size: 24px; color: #1abc9c !important; }
.et_pb_blurb_2.et_pb_blurb p { line-height: 1.9em; }
.et_pb_image_0 { max-width: 400px; text-align: center; margin-top: 10% !important; margin-bottom: 15% !important; }

@media only screen and ( min-width: 981px ) {
	.et_pb_section_2 { padding-bottom: 70px; }
	.et_pb_section_1 { padding-top: 150px; padding-bottom: 150px; }
}
			</style>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/berkeleyliveglass.me\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
</body>

